// As we prototype, let's just not use to many colors and stuff - keep it simple

.light-text {
  color: white !important;
  * {
    color: white !important;
  }
}

.light {
  background-color: white !important;
}

.light-deep {
  * {
    background-color: white !important;
  }
}

.dark-text {
  color: #333333 !important;
  * {
    color: #333333 !important;
  }
}

.dark {
  background-color: #333333 !important;
}

.dark-deep {
  * {
    background-color: #333333 !important;
  }
}
